.wrapper {
  width: 199px;
  height: 200px;
}

.red {
  width: 100px;
  height: 100px;
  background: #900;
  float: left;
}

.green {
  width: 100px;
  height: 100px;
  background: #090;
  float: left;
}

.blue {
  width: 100px;
  height: 100%;
  background: #009;
  margin: 0 0 0 100px;
}
